* text=auto !eol
common-hibernate/common-hibernate.iml -text
common-hibernate/pom.xml -text
common-hibernate/src/main/java/com/foreach/hibernate/util/HibernateEnum.java -text
common-hibernate/src/main/java/com/foreach/hibernate/util/HibernateSessionEmulator.java -text
common-hibernate/src/main/java/com/foreach/hibernate/util/package-info.java -text
common-mybatis/pom.xml -text
common-mybatis/src/main/java/com/foreach/mybatis/enums/BaseEnumHandler.java -text
common-mybatis/src/main/java/com/foreach/mybatis/enums/CodeBasedEnumHandler.java -text
common-mybatis/src/main/java/com/foreach/mybatis/enums/IdBasedEnumHandler.java -text
common-mybatis/src/main/java/com/foreach/mybatis/enums/package-info.java -text
common-mybatis/src/test/java/com/foreach/test/mybatis/util/Country.java -text
common-mybatis/src/test/java/com/foreach/test/mybatis/util/TestCountryHandler.java -text
common-mybatis/src/test/java/com/foreach/test/mybatis/util/TestCountryHandler2.java -text
common-mybatis/src/test/java/com/foreach/test/mybatis/util/TestCountryHandler3.java -text
/common-projects.iml -text
common-spring/common-spring.iml -text
common-spring/pom.xml -text
common-spring/src/main/java/com/foreach/spring/concurrent/PreComputedFuture.java -text
common-spring/src/main/java/com/foreach/spring/concurrent/SynchronousTaskExecutor.java -text
common-spring/src/main/java/com/foreach/spring/concurrent/package-info.java -text
common-spring/src/main/java/com/foreach/spring/context/ApplicationContextInfo.java -text
common-spring/src/main/java/com/foreach/spring/context/ApplicationEnvironment.java -text
common-spring/src/main/java/com/foreach/spring/context/package-info.java -text
common-spring/src/main/java/com/foreach/spring/enums/CodeLookup.java -text
common-spring/src/main/java/com/foreach/spring/enums/EnumUtils.java -text
common-spring/src/main/java/com/foreach/spring/enums/IdLookup.java -text
common-spring/src/main/java/com/foreach/spring/enums/package-info.java -text
common-spring/src/main/java/com/foreach/spring/logging/Log4JConfigurator.java -text
common-spring/src/main/java/com/foreach/spring/logging/Log4JUtils.java -text
common-spring/src/main/java/com/foreach/spring/logging/MethodExecutionTimeLogger.java -text
common-spring/src/main/java/com/foreach/spring/logging/package-info.java -text
common-spring/src/main/java/com/foreach/spring/mail/BasicMailService.java -text
common-spring/src/main/java/com/foreach/spring/mail/MailService.java -text
common-spring/src/main/java/com/foreach/spring/mail/MailStatus.java -text
common-spring/src/main/java/com/foreach/spring/mail/package-info.java -text
common-spring/src/main/java/com/foreach/spring/validators/MultipleEmails.java -text
common-spring/src/main/java/com/foreach/spring/validators/MultipleEmailsValidator.java -text
common-spring/src/main/java/com/foreach/spring/validators/package-info.java -text
common-spring/src/test/java/com/foreach/test/spring/concurrent/TestCallable.java -text
common-spring/src/test/java/com/foreach/test/spring/concurrent/TestSynchronousTaskExecutor.java -text
common-spring/src/test/java/com/foreach/test/spring/concurrent/TestTask.java -text
common-spring/src/test/java/com/foreach/test/spring/mail/TestBasicMailService.java -text
common-spring/src/test/java/com/foreach/test/spring/util/BaseTestService.java -text
common-spring/src/test/resources/config/spring-test-services.xml -text
common-web/common-web.iml -text
common-web/pom.xml -text
common-web/src/main/java/com/foreach/web/converter/CustomConversionServiceFactoryBean.java -text
common-web/src/main/java/com/foreach/web/converter/EnumCodeRenderer.java -text
common-web/src/main/java/com/foreach/web/converter/EnumConverterFactory.java -text
common-web/src/main/java/com/foreach/web/converter/EnumIdRenderer.java -text
common-web/src/main/java/com/foreach/web/converter/RecursiveConverter.java -text
common-web/src/main/java/com/foreach/web/converter/package-info.java -text
common-web/src/main/java/com/foreach/web/logging/ExceptionToMailResolver.java -text
common-web/src/main/java/com/foreach/web/logging/RequestLogInterceptor.java -text
common-web/src/main/java/com/foreach/web/logging/package-info.java -text
common-web/src/main/java/com/foreach/web/util/Log4jWebUtils.java -text
common-web/src/main/java/com/foreach/web/util/WebUtils.java -text
common-web/src/main/java/com/foreach/web/util/package-info.java -text
common-web/src/test/java/com/foreach/test/web/converter/BaseConversionServiceTest.java -text
common-web/src/test/java/com/foreach/test/web/converter/TestConvertorFactory.java -text
common-web/src/test/java/com/foreach/test/web/converter/TestDualInterface.java -text
common-web/src/test/java/com/foreach/test/web/converter/TestSpringWorks.java -text
common-web/src/test/java/com/foreach/test/web/logging/TestExceptionToMailResolver.java -text
common-web/src/test/java/com/foreach/test/web/logging/TestRequestLogInterceptor.java -text
/pom.xml -text
resources/deploy/deploy.xml -text
resources/deploy/jsch-0.1.45.jar -text
src/site/apt/index.apt -text
src/site/site.xml -text
