* text=auto !eol
.idea/.name -text
.idea/ant.xml -text
.idea/compiler.xml -text
.idea/copyright/profiles_settings.xml -text
.idea/encodings.xml -text
.idea/libraries/Maven__antlr_antlr_2_7_6.xml -text
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml -text
.idea/libraries/Maven__com_mockrunner_mockrunner_0_3_1.xml -text
.idea/libraries/Maven__commons_collections_commons_collections_3_1.xml -text
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml -text
.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml -text
.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml -text
.idea/libraries/Maven__javax_activation_activation_1_1.xml -text
.idea/libraries/Maven__javax_mail_mail_1_4_1.xml -text
.idea/libraries/Maven__javax_servlet_servlet_api_2_4.xml -text
.idea/libraries/Maven__javax_transaction_jta_1_1.xml -text
.idea/libraries/Maven__javax_validation_validation_api_1_0_0_GA.xml -text
.idea/libraries/Maven__junit_junit_4_8_2.xml -text
.idea/libraries/Maven__log4j_log4j_1_2_16.xml -text
.idea/libraries/Maven__org_aspectj_aspectjrt_1_6_8.xml -text
.idea/libraries/Maven__org_hibernate_hibernate_core_3_3_1_GA.xml -text
.idea/libraries/Maven__org_hibernate_hibernate_validator_4_1_0_Final.xml -text
.idea/libraries/Maven__org_mockito_mockito_all_1_8_5.xml -text
.idea/libraries/Maven__org_mybatis_mybatis_3_0_4.xml -text
.idea/libraries/Maven__org_mybatis_mybatis_spring_1_0_0.xml -text
.idea/libraries/Maven__org_slf4j_slf4j_api_1_5_2.xml -text
.idea/libraries/Maven__org_slf4j_slf4j_api_1_5_6.xml -text
.idea/libraries/Maven__org_springframework_spring_aop_3_0_5_RELEASE.xml -text
.idea/libraries/Maven__org_springframework_spring_asm_3_0_5_RELEASE.xml -text
.idea/libraries/Maven__org_springframework_spring_beans_3_0_5_RELEASE.xml -text
.idea/libraries/Maven__org_springframework_spring_context_3_0_5_RELEASE.xml -text
.idea/libraries/Maven__org_springframework_spring_context_support_3_0_5_RELEASE.xml -text
.idea/libraries/Maven__org_springframework_spring_core_3_0_5_RELEASE.xml -text
.idea/libraries/Maven__org_springframework_spring_expression_3_0_5_RELEASE.xml -text
.idea/libraries/Maven__org_springframework_spring_jdbc_3_0_5_RELEASE.xml -text
.idea/libraries/Maven__org_springframework_spring_orm_3_0_5_RELEASE.xml -text
.idea/libraries/Maven__org_springframework_spring_test_3_0_5_RELEASE.xml -text
.idea/libraries/Maven__org_springframework_spring_tx_3_0_5_RELEASE.xml -text
.idea/libraries/Maven__org_springframework_spring_web_3_0_5_RELEASE.xml -text
.idea/libraries/Maven__org_springframework_spring_webmvc_3_0_5_RELEASE.xml -text
.idea/libraries/Maven__xml_apis_xml_apis_1_0_b2.xml -text
.idea/misc.xml -text
.idea/modules.xml -text
.idea/projectCodeStyle.xml -text
.idea/uiDesigner.xml -text
.idea/vcs.xml -text
common-hibernate/common-hibernate.iml -text
common-hibernate/pom.xml -text
common-hibernate/src/main/java/com/foreach/hibernate/util/HibernateEnum.java -text
common-hibernate/src/main/java/com/foreach/hibernate/util/HibernateSessionEmulator.java -text
common-hibernate/src/main/java/com/foreach/hibernate/util/package-info.java -text
common-mybatis/common-mybatis.iml -text
common-mybatis/pom.xml -text
common-mybatis/src/main/java/com/foreach/mybatis/util/BaseEnumHandler.java -text
common-mybatis/src/main/java/com/foreach/mybatis/util/CodeBasedEnumHandler.java -text
common-mybatis/src/main/java/com/foreach/mybatis/util/IdBasedEnumHandler.java -text
common-mybatis/src/main/java/com/foreach/mybatis/util/package-info.java -text
common-mybatis/src/test/java/com/foreach/mybatis/util/Country.java -text
common-mybatis/src/test/java/com/foreach/mybatis/util/TestCountryHandler.java -text
common-mybatis/src/test/java/com/foreach/mybatis/util/TestCountryHandler2.java -text
common-mybatis/src/test/java/com/foreach/mybatis/util/TestCountryHandler3.java -text
/common-projects.iml -text
common-spring/common-spring.iml -text
common-spring/pom.xml -text
common-spring/src/main/java/com/foreach/spring/concurrent/AsynchronousTaskExecutor.java -text
common-spring/src/main/java/com/foreach/spring/concurrent/DummyFuture.java -text
common-spring/src/main/java/com/foreach/spring/concurrent/SynchronousTaskExecutor.java -text
common-spring/src/main/java/com/foreach/spring/concurrent/Task.java -text
common-spring/src/main/java/com/foreach/spring/concurrent/TaskExecutorService.java -text
common-spring/src/main/java/com/foreach/spring/concurrent/package-info.java -text
common-spring/src/main/java/com/foreach/spring/context/ApplicationContextInfo.java -text
common-spring/src/main/java/com/foreach/spring/context/ApplicationEnvironment.java -text
common-spring/src/main/java/com/foreach/spring/context/package-info.java -text
common-spring/src/main/java/com/foreach/spring/logging/Log4JConfigurator.java -text
common-spring/src/main/java/com/foreach/spring/logging/Log4jUtils.java -text
common-spring/src/main/java/com/foreach/spring/logging/package-info.java -text
common-spring/src/main/java/com/foreach/spring/mail/BasicMailService.java -text
common-spring/src/main/java/com/foreach/spring/mail/MailService.java -text
common-spring/src/main/java/com/foreach/spring/mail/package-info.java -text
common-spring/src/main/java/com/foreach/utils/CodeLookup.java -text
common-spring/src/main/java/com/foreach/utils/EnumUtils.java -text
common-spring/src/main/java/com/foreach/utils/IdLookup.java -text
common-spring/src/main/java/com/foreach/utils/package-info.java -text
common-spring/src/main/java/com/foreach/validators/MultipleEmails.java -text
common-spring/src/main/java/com/foreach/validators/MultipleEmailsValidator.java -text
common-spring/src/main/java/com/foreach/validators/package-info.java -text
common-spring/src/site/site.xml -text
common-spring/src/site/xdoc/xdoc.xml -text
common-spring/src/test/java/com/foreach/spring/concurrent/TestAsynchronousTaskExecutor.java -text
common-spring/src/test/java/com/foreach/spring/concurrent/TestCallable.java -text
common-spring/src/test/java/com/foreach/spring/concurrent/TestSynchronousTaskExecutor.java -text
common-spring/src/test/java/com/foreach/spring/concurrent/TestTask.java -text
common-spring/src/test/java/com/foreach/spring/mail/TestBasicMailService.java -text
common-spring/src/test/java/com/foreach/utils/BaseTestService.java -text
common-spring/src/test/resources/config/spring-test-services.xml -text
common-web/common-web.iml -text
common-web/pom.xml -text
common-web/src/main/java/com/foreach/web/convertor/EnumConverterFactory.java -text
common-web/src/main/java/com/foreach/web/convertor/package-info.java -text
common-web/src/main/java/com/foreach/web/logging/ExceptionToMailResolver.java -text
common-web/src/main/java/com/foreach/web/logging/MethodExecutionTimeLogger.java -text
common-web/src/main/java/com/foreach/web/logging/RequestLogInterceptor.java -text
common-web/src/main/java/com/foreach/web/logging/package-info.java -text
common-web/src/main/java/com/foreach/web/util/Log4jWebUtils.java -text
common-web/src/main/java/com/foreach/web/util/WebUtils.java -text
common-web/src/main/java/com/foreach/web/util/package-info.java -text
common-web/src/test/java/com/foreach/web/convertor/TestConvertorFactory.java -text
common-web/src/test/java/com/foreach/web/logging/TestExceptionToMailResolver.java -text
common-web/src/test/java/com/foreach/web/logging/TestRequestLogInterceptor.java -text
/pom.xml -text
src/site/apt/index.apt -text
src/site/site.xml -text
