General description

    Provides MyBatis specific classes, namely handlers for the enum interfaces from common-spring.

Maven descriptor

---
<dependency>
  <groupId>com.foreach</groupId>
  <artifactId>common-mybatis</artifactId>
  <version>${project.version}</version>
</dependency>
---

Packages

*-----*------*
 <<com.foreach.mybatis.*>> | <<description>>
*-----*------*
 {{{./apidocs/index.html?com/foreach/web/enums/package-summary.html}enums}} | handlers for enum facilities
*-----*------*

Frameworks and dependencies

    The artifact is designed for (and requires) the major versions of the following libraries:

        * apache-commons 3.1

        * springframework 3.1.1

        * mybatis 3.1.1

        * mybatis-spring 1.1.0
