General description

    Several useful classes, interfaces or class hierarchies with the main dependency on spring version.  Can be used outside
    a specific database or web context.

Maven descriptor

---
<dependency>
  <groupId>com.foreach</groupId>
  <artifactId>common-spring</artifactId>
  <version>${project.version}</version>
</dependency>
---

Packages

*-----*------*
 <<com.foreach.spring.*>> | <<description>>
*-----*------*
 {{{./apidocs/index.html?com/foreach/spring/concurrent/package-summary.html}concurrent}} | synchronous task execution
*-----*------*
 {{{./apidocs/index.html?com/foreach/spring/logging/package-summary.html}logging}} | logging
*-----*------*
 {{{./apidocs/index.html?com/foreach/spring/context/package-summary.html}context}} | configuring an application context
*-----*------*
 {{{./apidocs/index.html?com/foreach/spring/mail/package-summary.html}mail}} | sending mails
*-----*------*
 {{{./apidocs/index.html?com/foreach/spring/localization/package-summary.html}localization}} | localization
*-----*------*
 {{{./apidocs/index.html?com/foreach/spring/enums/package-summary.html}enums}} | enum utilities and interfaces
*-----*------*
 {{{./apidocs/index.html?com/foreach/spring/validators/package-summary.html}validators}} | custom validators
*-----*------*

Frameworks and dependencies

    The artifact is designed for (and requires) the major versions of the following libraries:

        * apache-commons 3.1

        * springframework 3.1.1

        * hibernate-validator 4.2.0
