General description

    Persisting enums with hibernate using a specific key, manually managing Hibernate sessions.

---
Possibly obsolete.  The common-hibernate artifact has no proven track record of being tested or put in production.
It is mainly available for reference and future development.
---

Maven descriptor

---
<dependency>
  <groupId>com.foreach</groupId>
  <artifactId>common-hibernate</artifactId>
  <version>${project.version}</version>
</dependency>
---

Packages

*-----*------*
 <<com.foreach.hibernate.*>> | <<description>>
*-----*------*
 {{{./apidocs/index.html?com/foreach/hibernate/util/package-summary.html}concurrent}} | Hibernate utilities
*-----*------*

Frameworks and dependencies

    The artifact is designed for (and requires) the major versions of the following libraries:

        * springframework 3.1.1

        * hibernate 3.3.1
