General description

    Useful classes to be used in a web context.

Maven descriptor

---
<dependency>
  <groupId>com.foreach</groupId>
  <artifactId>common-web</artifactId>
  <version>${project.version}</version>
</dependency>
---

Packages

*-----*------*
 <<com.foreach.web.*>> | <<description>>
*-----*------*
 {{{./apidocs/index.html?com/foreach/web/converter/package-summary.html}concurrent}} | converters for enum facilities
*-----*------*
 {{{./apidocs/index.html?com/foreach/web/logging/package-summary.html}logging}} | request logging and exception mails
*-----*------*
 {{{./apidocs/index.html?com/foreach/web/util/package-summary.html}util}} | utility classes for logging and web
*-----*------*

Frameworks and dependencies

    The artifact is designed for (and requires) the major versions of the following libraries:

        * springframework 3.1.1 (spring-mvc)

